html {
    &.dark {
        body {
            color: rgb(var(--foreground) / 0.92);
            *,
            ::before,
            ::after {
                border-color: rgb(var(--border) / 0.08);
            }
        }
    }
    body {
        font-size: theme("fontSize.sm");
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: theme("fontFamily.roboto");
        color: rgb(var(--foreground) / 0.88);
        line-height: 1.5;
        background-color: rgb(var(--background));
    }
}
